* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-family: 'Poppins','sans-serif';
    font-weight: bold;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}
textarea{
    font-family: 'Poppins','sans-serif';
    margin-left: 1.5em;
}
#upper-case{
    background-color:#FF5733;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5em 0 0 1.5em;
    font-family: 'Poppins','sans-serif';
}
#lower-case{
    background-color:#FF5733;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5em 0 0 1.5em;
    font-family: 'Poppins','sans-serif';
}
#proper-case{
    background-color:#FF5733;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5em 0 0 1.5em;
    font-family: 'Poppins','sans-serif';
}
#sentence-case{
    background-color:#FF5733;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5em 0 0 1.5em;
    font-family: 'Poppins','sans-serif';
}
#save-text-file{
    background-color:#FF5733;
    border-radius: 10px;
    padding: 10px;
    margin: 1.5em 0 0 1.5em;
    font-family: 'Poppins','sans-serif';
}